h1{
    color:Black;
    font-family: 'Lobster', cursive;
    font-size: 80px;
    text-align: center;
    
    
}
 h2{
     color:black;
     font-size: 30px;
     font-family:'Beth Ellen', cursive;
     text-align: center;
 }

 
 

 .background-color{
     background-color: antiquewhite;
     text-align: center;
 }
 
 .content-of-page{
     text-align: center;
     background-color: darkmagenta;
     color: antiquewhite;
     font-size: 18px;
 }


 
  
 p{
     font-size: 25px;
     color: white;  
 }